.div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1;      
}

.span {
    color: #1DB954;
}

.form {
    line-height: 2;
}

.radio {
    accent-color: #FDD100;
}

.radio:hover {
    cursor: pointer;
}