.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;    
    max-height: 80vh;   
}

.subContainer {
    min-height: 10vh;
    height: 100%;
    border-radius: 15px;
    margin: 0 20px 20px 20px;
    overflow: hidden;
}

.results {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: black;
    overflow-y: scroll;
}

.tracks {
    border-radius: 15px;
    padding: 0.5em;
    margin: 0.5em;
    background-color: rgba(253, 209, 0, 1);
}

.tracks h3 {
    text-align: left;
    line-height: 1;
    color: black;
}

.tracks p {
    text-align: left;
    color: black;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}